body {
  margin: 0;
  background: lightgrey;
}
.detail {
  font-size: 1.2rem;
}
.container {
  grid-column:  1 / span 3;
}

.retour {
  cursor: pointer;
  height: 40px;
}


.play:active {
  border: inset 1px black;
}
.play {
  margin:auto;
  width: 0;height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 16px solid black;
  transition: border-left 0.5s;
}

#barre-titre {
  background: darkgreen;
  color: white !important;
  padding: 0 5px 0 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#barre-titre > a {
  display: flex;
}
h1 {
  font-weight: lighter;
  margin:0;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.logos {
  display: flex;
  flex-direction: row;
}
.cc {
  background: url("../storage/img/reproduction/cc.svg") no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 50px;
  margin: 0 2px;
}
.antikor {
  background: url("../storage/img/reproduction/antikor.png") no-repeat;
  background-size: contain;
  background-position: center;
  width: 80px;
  height: 50px;
}

.bouton {
  width: 80%;
  border: solid 1px black;
  background: darkgrey;
  box-shadow: 2px 2px 5px;
}
.bouton-rond {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.bouton-demi {
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  height: 80%;
  width: 100%;
  background: linear-gradient(90deg, darkgreen,greenyellow,yellow,orange,red);
}
.roller {
  background: url("../storage/img/reproduction/roller.svg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  cursor: grab;
}
.base-aiguille {
  height: 15px;
  width: 30px;
  background: darkgrey;
  position: relative;
  left: calc(50% - 15px);
  /* top: -15px; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 2px 2px 3px;
}
.aiguille {
  height: 65px;
  width: 15px;
  background: url("../storage/img/reproduction/fleche.svg") no-repeat;
  background-size: contain;
  position: relative;
  top: 16%;
  left: calc(50% - 7px);
  cursor: grab;
}
#timeline {
  width: 100%;
  height: 40px;
  background:darkgrey;
}
#ligne {
  margin: 15px 1%;
  width:98%;
  height: 10px;
  background: green;
  display: flex;
  flex-direction: row;
}
.jour {
  height: 10px;
  width: calc(100% /40);
  border-right: solid 1px black;
}
#marque {
  height: 30px;
  width: 5px;
  /* border-radius: 100%; */
  background: linear-gradient(-90deg, black, grey, black);
  position: relative;
  top: -35px;
  left: 1%;
}


.organe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin:0 5%;
  box-shadow: 3px 3px 5px;
}
