.base-aiguille {
  height: 15px;
  width: 30px;
  background: darkgrey;
  position: relative;
  left: calc(50% - 15px);
  /* top: -15px; */
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 2px 2px 3px;
}
.aiguille {
  height: 65px;
  width: 15px;
  background: url("../storage/img/reproduction/fleche.svg") no-repeat;
  background-size: contain;
  position: relative;
  top: 16%;
  left: calc(50% - 7px);
  cursor: grab;
}

.jour {
  height: 10px;
  width: calc(100% /40);
  border-right: solid 1px black;
}
#marque {
  height: 30px;
  width: 5px;
  border-radius: 100%;
  background: linear-gradient(-90deg, black, grey, black);
  position: relative;
  top: -35px;
  left: 1%;
}